// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials
main {
  margin-top: 3rem;
  #performing-data {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  #works {
    .wrapper {
      width: 95%;
      margin: 0 auto;
      .tile {
        position: relative;
        width: 100%;
        aspect-ratio: 1;
        border: 1px solid rgba(155, 155, 155, 0.482);
        .title {
          color: #fff;
          background-color: rgba(0, 0, 0, 0.463);
          font-weight: 600;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 3rem;
          width: 100%;
          padding: 1rem;
        }
        .work1 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/between-one-and-zero.jpg") no-repeat center
            center/cover;
        }
        .work2 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/home-of-the-brain2.jpg") no-repeat center
            center/cover;
        }
        .work3 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/virtual-sriptease.jpg") no-repeat center
            center/cover;
        }

        .work4 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/liquid-views.jpg") no-repeat center
            center/cover;
        }
        .work5 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/mars-bags.jpg") no-repeat center
            center/cover;
        }
        .work6 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/murmuring-fields.jpg") no-repeat center
            center/cover;
        }
        .work7 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/sem-map.jpg") no-repeat center center/cover;
        }
        .work8 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/PSK-interaction.jpg") no-repeat center
            center/cover;
        }
        .work9 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/Energie_Passagen11.jpg") no-repeat center
            center/cover;
        }
        .work10 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/digitale-trans-buch.jpg") no-repeat center
            center/cover;
        }

        .work11 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/ds-matrix.jpg") no-repeat center
            center/cover;
        }
        .work12 {
          width: 100%;
          aspect-ratio: 1;
          background: url("../images/medienfluss.jpg") no-repeat center
            center/cover;
        }
      }
      .tile:hover {
        filter: hue-rotate(-40deg) brightness(130%);
      }
      .tile:active {
        filter: hue-rotate(-90deg) brightness(130%);
      }
    }
  }
  /* #exhibits {
        .pointer {
      a {
        padding: 0 1rem;
        text-decoration: none;
        font-size: 1.5rem;
      }
    }
  } */
}
footer {
  .foot {
    display: flex;
    justify-content: center;
    max-width: 30rem;
    margin: 0 auto;
  }
}
